@import "tailwindcss";

@theme {
  --font-pangolin: "Pangolin", cursive;
  --font-paprika: "Paprika", system-ui, sans-serif;
  --font-parkinsans: "Parkinsans", sans-serif;

  --color-sage: #E4C47D;
  --color-sage-dark: #7BA87F;
  --color-sand: #E0D19F;
  --color-brand: #94B792;
}

body {
  background-color: #F8F9FB;
  font-family: var(--font-parkinsans);
}

.lucide {
  stroke-width: 1.5px;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.25s ease-out;
}